.contenido__cards {
    width: 80%;
    margin: 0 auto; 
    padding: 25px 0;
}

    
.cards {
    width: 100%;
    
}

@media only screen and (max-width:1200px) {
    .contenido__cards {
        width: 90%;
    }
}