.head__secundario {
    width: 35%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: absolute;
    left: 350px;
}

.head__input {
    width: 90%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 20px 0 0px 20px;
    background-color: #F5F5F5;
    border: none;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A2A2A2;    
}

.head__input:focus {
    outline: none;
}

.head__search {
    width: 10%;
    height: 40px;
    padding: 8px 16px 8px 0;
    border: none;
    background-color: #F5F5F5;
    font-size: 14px;
    border-radius: 0 20px 20px 0;
    color: #A2A2A2; 
    cursor: pointer;
}


